<div class="hero">
    <div class="hero-text">
        <h1>Wanderlust</h1>
        <p>Najbolji hoteli i destinacije na VAŠEM dlanu! Otkrijte svet bez muke.</p>
        <a routerLink="/aranzman" class="cta-button">Istražite našu ponudu</a>
    </div>
</div>

<section class="our_hotels">
    <h2>Istražite mnogobrojne hotele sa kojima sarađujemo</h2>
    <div class="hotel-grid">
        <div class="card">
            <img src="/assets/img/northernLights.svg" alt="Northern Lumiere Palace">
            <h3>Northern Lumiere Palace</h3>
        </div>
        <div class="card">
            <img src="/assets/img/romanHoliday.svg" alt="Roman Holiday Inn">
            <h3>Roman Holiday Inn</h3>
        </div>
        <div class="card">
            <img src="/assets/img/aegean.svg" alt="Aegean View">
            <h3>Aegean View</h3>
        </div>
        <div class="card">
            <img src="/assets/img/gaudi.svg" alt="Gaudi Suites">
            <h3>Gaudi Suites</h3>
        </div>
        <div class="card">
            <img src="/assets/img/charles.svg" alt="Charles Bridge Hotel">
            <h3>Charles Bridge Hotel</h3>
        </div>
    </div>
</section>

<section class="destinations">
    <h2>Popularne destinacije</h2>
    <div class="dest-grid">
    <div class="card"><img src="/assets/img/oslo.svg" alt="Oslo"><h3>Oslo</h3></div>
    <div class="card"><img src="/assets/img/roma.svg" alt="Rim"><h3>Rim</h3></div>
    <div class="card"><img src="/assets/img/athens.svg" alt="Atina"><h3>Atina</h3></div>
    <div class="card"><img src="/assets/img/barca.svg" alt="Barselona"><h3>Barselona</h3></div>
    <div class="card"><img src="/assets/img/prague.svg" alt="Prag"><h3>Prag</h3></div>
    </div>
</section>
